<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="ForMage\Learning\Api\SizeInterface"
                type="ForMage\Learning\Model\SizeNormal" />

    <preference for="ForMage\Learning\Api\ColorInterface"
                type="ForMage\Learning\Model\ColorYellow" />

    <type name="ForMage\Learning\Model\Product\Shoe">
        <arguments>
            <argument name="color" xsi:type="object">ForMage\Learning\Model\ColorBlue</argument>
            <argument name="size" xsi:type="object">ForMage\Learning\Model\SizeBig</argument>
        </arguments>
    </type>

    <type name="ForMage\Learning\Model\Product\Shirt">
        <arguments>
            <argument name="typeText" xsi:type="string">Update String</argument>
            <argument name="typeNumber" xsi:type="number">8000</argument>
            <argument name="typeArray" xsi:type="array">
                <item name="customName" xsi:type="string">Jonas Rodrigues</item>
                <item name="customColor" xsi:type="string">Orange</item>
            </argument>
            <argument name="typeInitParameter" xsi:type="init_parameter">ForMage\Learning\Model\Product\Shirt::MY_CONSTANT</argument>
        </arguments>
    </type>
</config>
